*{
    margin: 0px;
    padding: 0px;
}

.tabs {
    margin: 100px auto;
    width: 400px;
    border: 2px solid #7dbac9
}

.title {
    overflow: hidden;
}

.title span {
    display: block;
    width: 33.333%;
    float: left;
    height: 40px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-align: center;
    background: #7dbac9;
    font: normal 13px/40px '微软雅黑';
}


.title .active{
    color: #7dbac9;
    background: #fff;
}

.content ul {
    display: none;
}

.content ul li {
    list-style: none;
    padding: 5px 40px;
}

.content ul li a{
    text-decoration: none;
    color: #333;
    font:normal 13px/30px '微软雅黑'
}

.content ul li a:hover{
    text-decoration: underline;
    color: #369ba6;
}