table {
    /* 边框空白 */
    border-spacing: 0;
    /* 边框模型 合并 */
    border-collapse: collapse;
    margin: 100px auto;
}

tr,
th {
    font: normal 14px/20px '微软雅黑';
    text-align: left;
}


th {
    width: 100px;
    padding-left: 10px;
}

tr:hover {
    cursor: pointer;
    background: #f2f2f2;
}

tr,
td {
    color: grey;
    border: 1px solid #e6e6e6;
}

td {
    width: 300px;
    padding: 10px 0px 10px 10px;
}